Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-use-after-move,
  bugprone-dangling-handle,
  bugprone-undefined-memory-manipulation,
  performance-unnecessary-copy-initialization
WarningsAsErrors: ''
HeaderFilterRegex: 'bindings/cpp/include/.*'
FormatStyle: file
