# System service sample configuration for reticulum-go.
# Installed to /var/lib/reticulum-go/config when missing.

[reticulum]
  enable_transport = Yes
  share_instance = Yes
  shared_instance_port = 37428
  instance_control_port = 37429
  panic_on_interface_error = No
  enable_sandbox = Yes
  enable_control_api = No

[logging]
  loglevel = 3
  destination = both
  logfile = /var/lib/reticulum-go/logfile/reticulum.log

[interfaces]

  [[Auto Discovery]]
    type = AutoInterface
    enabled = Yes
    group_id = reticulum
    discovery_scope = link
    discovery_port = 29716
    data_port = 42671
